@import "../../variables.scss";

.container {
	padding: $base-spacing;
	border: 1px solid lightgrey;
	border-radius: 10px;
	height: 100%;
	background-color: $vojo-cream;

	.header {
		h5 {
			font-size: calc(16px + (24 - 18) * ((100vw - 440px) / (1920 - 440)));
			text-transform: uppercase;
			margin: $base-spacing 0;
			color: $vojo-brown;
		}
	}
	p {
		font-size: calc(12px + (24 - 18) * ((100vw - 440px) / (1920 - 440)));
		font-weight: 600;
	}

	.info {
		margin: $base-spacing * 2 0;
	}

	.inputs {
		width: 100%;
		height: 30px;
		margin-top: 5px;
	}

	.smallInputs {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: $base-spacing;
		height: 30px;
		margin-top: 5px;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		padding: $base-spacing * 3;
		height: unset;

		.info {
			margin: $base-spacing * 2 0;
		}

		.inputs {
			height: 45px;
			margin-top: $base-spacing;
		}

		.smallInputs {
			height: 45px;
			margin-top: $base-spacing;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.container {
		padding: $base-spacing * 4;

		.info {
			margin: $base-spacing * 3 0;
		}

		.inputs {
			height: 50px;
			margin-top: $base-spacing;
		}

		.smallInputs {
			height: 50px;
			margin-top: $base-spacing;
		}
	}
}
