@import "..//../variables.scss";

.btn {
	padding: 1vw 2vw;
	color: white;
	background-color: $primary-color;
	font-size: calc(18px + (24 - 18) * ((100vw - 440px) / (1920 - 440)));
	border: none;
	border-radius: 10px;
	margin: $base-spacing;

	&:hover {
		background-color: $primary-color-80;
	}
}

.payPal {
	color: white;
	background-color: $secondary-color;

	&:hover {
		background-color: $secondary-color-80;
	}
}

@media only screen and (min-width: 768px) {
	.btn {
		display: block;
	}
}

@media only screen and (min-width: 1024px) {
	.btn {
		width: 100%;
		margin: $base-spacing 0;
		padding: .5vw 2vw;
	}
}
