@import "../../variables.scss";

html {
  scroll-behavior: smooth;
}

.landingPage {
  .navBar {
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    padding: 0 $base-spacing * 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $vojo-cream;

    .burgs {
      display: none;
      height: 100%;
      max-height: 55px;
      margin-top: 5px;
    }

    img {
      height: 100%;
      max-height: 55px;
    }

    .navLinks {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 550px;

      a {
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
      }

      .authLinks {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        p {
          cursor: pointer;
          font-weight: bold;
          font-size: 16px;
          color: $primary-color;
          margin: 0;
        }
      }
    }
  }

  section {
    height: 90vh;
    font-size: 18px;
    line-height: 24px;

    h2 {
      width: 400px;
      font-size: $heading-2-size;
      line-height: initial;
    }

    article {
      width: 440px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .bold {
      font-weight: bold;
    }

    .button {
      height: 40px;
      width: 250px;
      border-radius: 50px;
      overflow: hidden;

      :hover {
        cursor: pointer;
      }
    }

    &.veganMojo {
      scroll-behavior: smooth;
      height: 100vh;
      background-color: $primary-background;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      img {
        height: 65vh;
      }

      article {
        height: 370px;
      }
    }

    &.shouldVojo {
      height: 100vh;
      background-color: $vojo-cream;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      img {
        height: 80vh;
      }

      article {
        height: 80vh;

        p {
          padding: 5px;
        }
      }
    }

    &.howItWorks {
      height: 100vh;
      background-color: $primary-background;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .howItWorksTitles {
        padding-top: 20px;
        height: 180px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      img {
        height: 20vh;
      }

      .imageList {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        div {
          width: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;

          h2 {
            width: initial;
            padding: $base-spacing * 2 0;
            text-align: center;
          }

          h3 {
            text-align: center;
            width: 150px;
          }
        }
      }
    }

    &.price {
      height: 100vh;
      padding-top: 70px;
      background-color: $vojo-cream;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      img {
        height: 65vh;
      }

      span {
        width: 90vw;
        display: flex;
        justify-content: space-around;
      }

      article {
        height: 450px;

        li {
          list-style-type: none;
        }
      }

      a {
        text-decoration: none;
        font-weight: bold;
        color: $primary-color;
        font-size: 20px;
      }
    }
  }

  footer {
    height: 10vh;
    width: 100%;
    padding: 0 $base-spacing * 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;

    img {
      height: 100%;
      max-height: 55px;
    }

    .navLinks {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 550px;

      a {
        font-size: 16px;
        font-weight: bold;
        color: white;
        text-decoration: none;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .marginTop {
      margin-top: $base-spacing * 3;
    }

    .navBar {
      height: 60px;
      align-items: unset;

      .burgs {
        display: unset;
        height: 100%;
        max-height: 40px;
        width: 100%;
        max-width: 40px;
      }

      .navLinks {
        flex-direction: column;
        background-color: $vojo-cream;
        height: 100vh;
        text-align: center;
      }

      .display {
        display: none;
      }
    }

    .openNav {
      height: 100vh;
    }

    section {
      padding: 70px 30px;
      height: initial;
      font-size: 16px;
      line-height: 20px;

      h2 {
        width: unset;
        font-size: $heading-2-size / 1.5;
      }

      article {
        width: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
      }

      &.veganMojo {
        height: initial;
        flex-direction: column;

        img {
          height: 30vh;
        }
      }

      &.shouldVojo {
        height: initial;
        flex-direction: column;

        img {
          height: 30vh;
        }

        article {
          height: unset;
          align-items: center;

          p {
            margin: 10px 0;
          }
        }
      }

      &.howItWorks {
        height: initial;

        .imageList {
          flex-direction: column;
          padding: 20px 0;

          div {
            background-color: $vojo-cream;
            margin: 10px 0;
            padding: 20px 0;
          }
        }
      }

      &.price {
        height: initial;

        span {
          flex-direction: column;
          height: initial;

          img {
            height: 30vh;
            max-height: 200px;
          }
        }
      }
    }

    footer {
      height: 50vh;
      flex-direction: column;
      justify-content: space-evenly;

      img {
        display: none;
      }

      .navLinks {
        height: inherit;
        width: unset;
        flex-direction: column;
      }
    }
  }
}
