@import "../../../variables.scss";

.page {
  position: relative;
  background-color: $primary-background;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;

  .box {
    height: max-content;
    width: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .button {
      margin: $base-spacing * 4 auto;
      height: 50px;
      width: 100px;

      :hover {
        cursor: pointer;
      }
    }

    & > section {
      margin-bottom: $base-spacing * 3;
    }

    h2 {
      color: $secondary-color;
      margin-bottom: $base-spacing * 2;
    }

    .inputFieldContainer {
      height: 35px;
    }

    .arrows {
      display: flex;
      justify-content: space-around;
      position: sticky;
      top: 0;
      background-color: $primary-background;
      border-bottom: solid 2px $primary-color;
    }

    .displayError {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80vw;
      height: 30vh;
      background-color: rgba(255, 0, 0, 0.5);
      border: 2px solid red;
      padding: $base-spacing * 3;
      font-size: calc(16px + (22 - 16) * ((100vw - 440px) / (1920 - 440)));

      h4 {
        margin: $base-spacing;
      }

      .btn {
        width: 100px;
        height: 40px;
        margin-top: $base-spacing * 3;

        :hover {
          cursor: pointer;
        }
      }
    }

    .loadingBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .loader {
        border: $base-spacing solid #f3f3f3;
        border-top: $base-spacing solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
        margin: $base-spacing;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.questionPerson {
  display: none;
  position: absolute;
  right: 20%;
  bottom: 30px;
  height: 200px;
  width: 100px;
}

.leftArrow {
  transform: rotate(270deg);
  width: 60px;
  height: 60px;
}

.rightArrow {
  transform: rotate(90deg);
  width: 60px;
  height: 60px;
}

@media only screen and (min-width: 764px) {
  .page {
    align-items: center;

    .questionPerson {
      display: unset;
    }

    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .displayError {
        width: 30vw;
        height: 30vh;
        background-color: rgba(255, 0, 0, 0.5);
        border: 2px solid red;
        border-radius: 10px;
        padding: $base-spacing * 3;
        font-size: calc(16px + (22 - 16) * ((100vw - 440px) / (1920 - 440)));
      }

      .arrows {
        position: static;
        border-bottom: none;
      }

      .leftArrow {
        position: absolute;
        transform: rotate(270deg);
        left: 60px;
        top: calc(50vh - 30px);
      }

      .rightArrow {
        position: absolute;
        transform: rotate(90deg);
        right: 60px;
        top: calc(50vh - 30px);
      }
    }
  }
}
