@import "../../variables.scss";

.container {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  padding-left: $base-spacing * 5;
  margin-bottom: $base-spacing * 2;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  .checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 25px;
    width: 25px;
    border: solid 2px $secondary-color;
    border-radius: 5px;

    &:after {
      content: url(../../assets/graphic-devices/primary-color-straw.svg);
      position: absolute;
      display: none;
      left: 10px;
      bottom: 5px;
      width: 15px;
      height: 30px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg) scaleY(-1);
    }
  }
}
