@import "../../variables.scss";

.progressBar {
  display: flex;
  justify-content: center;
  align-items: center;

  .percentage {
    margin-right: $base-spacing * 4;
  }
}

@media only screen and (min-width: 768px) {
  .bar {
    display: block;
    position: relative;
    width: 75vw;
    height: 10px;
    background-color: $light-berry-blue;
    border-radius: 5px;

    .sliderGauge {
      height: 10px;
      border-radius: 5px;
      background-color: $secondary-color;
    }
  }
}
